.header {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--foreground);
  box-sizing: border-box;
  border-bottom: 1px solid #e5e8ec;
  align-items: center;
  width: 100%;
  height: 65px;
  padding: 0 20px;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.headerRight {
  box-sizing: border-box;
  padding-right: 5px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  column-gap: 5px;
  align-items: center;
}
