.card {
  width: 300px;
  height: 270px;
  overflow: hidden;
  position: relative;
}

.preview {
  box-sizing: border-box;
  background-color: var(--grey-light);
  border-radius: 8px;
  border: 1px solid var(--grey-normal);
  width: 100%;
  height: 200px;
}

.labelContainer {
  box-sizing: border-box;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 100%;
}

p.labelTitle {
  font-size: 18px;
  margin: 0;
  color: var(--grey-darker);
}

p.labelDesc {
  font-size: 13px;
  margin: 0;
  color: var(--grey-mild-darker);
}

.link {
  border-radius: 20px;
}
