.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-color: var(--primary-dark);
  overflow: clip;
  user-select: none;
}

.handle {
  cursor: row-resize;
  height: 20px;
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.utils {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  --background: var(--foreground);
  color: var(--background);
  text-align: center;
}

.documentControls {
  gap: 5px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tools {
  gap: 10px;
  height: 46px;
  display: flex;
  align-items: center;
}

.keywords {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  overflow: auto;
  gap: 5px;
}

.keyword {
  padding: 2px 5px;
  border-radius: 5px;
  background-color: var(--secondary-light);
  color: var(--primary-dark);
}

.icon {
  cursor: pointer;
  text-align: center;
  color: var(--background);
}
