.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 0;
  flex-direction: column;
}

.viewerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow: auto;
}

.viewer {
  margin: 0 auto;
}
