.container {
  position: relative;
  max-height: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 30px 30px;
  border-radius: 20px;
  background-color: var(--foreground);
  color: var(--secondary-dark);
  display: flex;
  flex-direction: column;
  animation: var(--intro-animation);
}

.title {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  color: var(--primary-dark);
}
.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 0;
  overflow-y: auto;
}

.buttonContainer {
  margin: 5px;
  display: flex;
  gap: 5px;
  flex-direction: row-reverse;
}
