:root {
  --highlight: #b3efb2;
  --secondary-light: #7a9e7e;
  --secondary-dark: #31493c;
  --primary-dark: #001a23;
  --primary-light: #1e3036;
  --foreground-disabled: #c7cfd0;
  --foreground: #ffffff;
  --background: #e8f1f2;
  --intro-animation: show 0.5s;
}

@media (prefers-color-scheme: dark) {
  /* TODO: dark theme */
  /* :root {
    --background: #000000;
  }
  html {
    color-scheme: dark;
  } */
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--background);
}

div.error-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 40px;
  margin: 40px 0;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--foreground);
  position: absolute;
  left: 50%;
  gap: 30px;
  transform: translateX(-50%);

  .link {
    color: var(--secondary-light);
    font-weight: 700;
    font-size: 20px;
  }
}

div.loading-container {
  background-color: var(--secondary-dark);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text {
    color: var(--secondary-light);
  }
}

@keyframes barAnimation {
  0% {
    background-color: var(--highlight);
  }
  50% {
    background-color: var(--primary-dark);
  }
  100% {
    background-color: var(--highlight);
  }
}

div.loading-bar {
  width: 500px;
  border-radius: 1px;
  height: 2px;
  animation-name: barAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes show {
  0% {
    opacity: 0;
    scale: 98%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}
