:root {
  --black: black;
  --highlight: #b3efb2;
  --secondary-light: #59c284;
  --secondary-dark: ;
  --tetiary-light: ;
  --tetiary-dark: ;
  --primary-dark: #004444;
  --primary-light: #027373;
  --grey-light: #e5e8ec;
  --grey-normal: #d8dadd;
  --grey-dark: #adb2bb;
  --grey-mild-darker: #747983;
  --grey-darker: #383b40;
  --foreground-disabled: #c7cfd0;
  --foreground: #ffffff;
  --warning-color: #c2599a;
  --background: #f4f6f8;
  --background-accent: #e6f5f5;
  --intro-animation: show 0.5s;
}

@media (prefers-color-scheme: dark) {
  /* TODO: dark theme */
  /* :root {
    --background: #000000;
  }
  html {
    color-scheme: dark;
  } */
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--background);
}

div.error-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 40px;
  margin: 40px 0;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--foreground);
  position: absolute;
  top: 100px;
  left: 50%;
  gap: 30px;
  transform: translateX(-50%);

  .link {
    color: var(--secondary-light);
    font-weight: 700;
    font-size: 20px;
  }
}

div.loading-container {
  background-color: var(--background);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text {
    color: var(--primary-dark);
  }
}

@keyframes barAnimation {
  0% {
    background-color: var(--primary-dark);
  }
  50% {
    background-color: var(--highlight);
  }
  100% {
    background-color: var(--primary-light);
  }
}

div.loading-bar {
  width: 500px;
  border-radius: 1px;
  height: 2px;
  animation-name: barAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes progress-bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    scale: 98%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}

mark {
  text-decoration: underline dotted;
  text-decoration-color: red;
  text-decoration-thickness: 3px;
  color: transparent;
  background: transparent;
}

* {
  transition: color 0.1s ease-out, background-color 0.1s ease-out, border 0.1s ease-out,
    opacity 0.1s ease-out;
}
