:root {
  --highlight: #b3efb2;
  --secondary-light: #7a9e7e;
  --secondary-dark: #31493c;
  --primary-dark: #001a23;
  --primary-light: #1e3036;
  --foreground-disabled: #c7cfd0;
  --foreground: #ffffff;
  --background: #e8f1f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* TODO: dark theme */
    --background: #000000;
  }
  html {
    color-scheme: dark;
  }
}
