.container {
  background-color: #00000020;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  gap: 10px;
  height: 46px;
  box-sizing: border-box;
  overflow: hidden;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: default;
  min-width: 33px;
  min-height: 33px;
  flex: 0;
  color: var(--background);
  background-color: transparent;
}

.buttonSelection {
  color: var(--primary-dark);
  background-color: var(--background);
}

.icon {
  text-align: center;
}
