.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0;
  width: 100%;
  background-color: var(--primary-dark);
  overflow: clip;
  user-select: none;
}

.handle {
  cursor: col-resize;
  height: 100%;
  width: 24px;
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.utils {
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  --background: var(--foreground);
  color: var(--background);
  text-align: center;
}

.keywords {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  overflow: auto;
  gap: 5px;
}

.keyword {
  padding: 2px 5px;
  border-radius: 5px;
  background-color: var(--secondary-light);
  color: var(--primary-dark);
  transition: background-color ease-out 0.3s;
}

.enabled {
  background-color: var(--foreground);
  color: var(--primary-dark);
}

.icon {
  text-align: center;
  color: var(--background);
  rotate: 90deg;
}

.tools {
  gap: 10px;
  height: 46px;
  display: flex;
  align-items: center;
}
