.container {
  cursor: default;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 30px;
  gap: 3px;
}

.label {
  color: var(--background);
  font-size: 14px;
}

.icon {
  color: var(--background);
  width: 30px;
  font-size: 30px;
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}
