.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: default;
  min-width: 33px !important;
  min-height: 33px !important;
  flex: 0;
  color: var(--foreground);
  background-color: transparent;
}

.buttonSelection {
  color: var(--grey-darker);
  background-color: var(--foreground);
}

.icon {
  text-align: center;
}
